---
layout: analysis
---

<p>
    Analyses are divided into four sections, each focusing on a different aspect of the data. Note, that the analyses and visualizations in all sections, except the <a href="{{site.baseurl}}/content/analyses/Outliers">Outliers</a> section, were performed with clean data that excluded the outliers.
</p>

<ul>
    {% for section in site.data.anal_sections %}

    <a href="{{site.baseurl}}/content/analyses/{{section.folder}}/index.html">
       <li>{{section.title}}</li>
    </a>
    {% include entries-list.html category=section.folder %}

    {% endfor %}
</ul>
